*{
    /* background-color: rgb(21, 195, 21); */
    /* color: rgb(0, 0, 0); */
    padding: 0;
    margin: 0;
}

.offer{
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 3px;
    padding-bottom: 10px;
    margin-left: 25%;
    background-color: rgb(243, 225, 184);
    text-align: center;
    width: 500px;
    height: 100px;
    box-shadow:  0 10px 20px black;

    border-radius: 10px;
}

.offer button{
    margin-top: 30px;
    box-shadow: 0 2px 5px black;
    outline: 1px solid black;
    border: none;
    background-color: rgb(201, 255, 218);
}
.hacking_ter{
    color: rgb(13, 255, 0);
    /* visibility: hidden; */
    font-size: 30px;
    width: 100%;
    height: 100%;
background-color: rgb(0, 0, 0);
}
.lines{
    color: rgb(13, 255, 0);
}
.done button,.offer button{
    cursor: pointer;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 30px;
    width: 150px;
    font-size: 20px;
}

